body {
  max-width: 740px;
  margin: auto;
  padding: 1rem;
  background-color: #FBFBFB;
  font-family: 'SourceSansPro-Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: local('SourceSansPro-Light'), url('./fonts/SourceSansPro-Light.ttf') format('truetype');
}